@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
:root{
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background: url('https://png.pngtree.com/background/20230519/original/pngtree-video-store-that-has-much-to-choose-from-picture-image_2652600.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
  height: 100px;
  background-color: #251508;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.links-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover{
    background: #c66515;
}

nav .home-link{
  margin-right: auto;
}

nav .home-link:hover{
    background-color: #251508;
}

nav svg{
  fill: var(--text-color);
}

#sidebar-active{
  display: none;
}

.open-sidebar-button, .close-sidebar-button{
  display: none;
}

.home-link img {
  max-width: 300px; /* Adjust the max-width as needed */
  height: auto; /* Maintain aspect ratio */
}

@media(max-width: 1173px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: #251508;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container{
    right: 0;
  }

  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

}

@media(max-width: 461px){
  nav{
    padding: 0 10px;
  }

  .links-container{
    width: 100%;
  }

  nav a{
    padding: 15px 20px;
  }

  .home-link img {
    max-width: 200px; /* Adjust the max-width for smaller screens */
  }

  .open-sidebar-button, .close-sidebar-button{
    padding: 15px;
  }
}
